{% include "header.html" %}{% load static %}
<section class="select-country-area" style="background-image: url({% static 'assets/images/select-country-bg.jpg' %})">
    {% if jobs %}
    <div class="container">
        <div class="sec-title text-center">
            <h3>Latest Demands</h3>
            <h2>Choose Your Desired<br> <span>Career Path.</span></h2>
        </div>
        <div class="row">
            {% for job in jobs %}
            <!--Start Single select Country-->
            <div class="col-xl-6">
                <div class="single-select-country">
                    <div class="img-holder"  style="height:170px;">
                        <img src="{{job.job_image.url}}" alt="Vacancy Image">
                    </div>
                    <div class="text-holder" style="height:170px;">
                        <h3>{{job.job_title}}</h3>
                        <ul class="meta-info">
                            <li>Salary : {{job.salary}}</li>
                            <li>Location : {{job.location}}</li>
                        </ul>
                        <a href="{% url 'job_description' slug=job.slug %}">Read More<span class="flaticon-right"></span></a>
                    </div>    
                </div>    
            </div>
            <!--End Single select Country-->
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="container">
        <div class="row justify-content-center"> <!-- Center the column horizontally -->
          <div class="col text-center">
            <img src="{% static 'no_vacancy.png' %}" alt="No Vacancy">
          </div>
        </div>
      </div> 
    {% endif %} 
</section>
{% include "footer.html" %}