{% include "header.html" %}
<section class="error-page-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="error-content text-center wow slideInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: slideInUp;">
                    <h4>Page Not Found</h4>
                    <div class="title thm-clr">404</div>
                    <p>We’re unable to find a page you are looking for, Try later or click the button.</p>
                    <div class="button">
                        <a class="btn-one" href="{% url 'home' %}">
                            <span class="txt">Back to Home</span>
                        </a>
                    </div>
                </div>    
            </div>
        </div>       
    </div>
</section>
{% include "footer.html" %}