{% load static %}
<!--Start footer area-->  
<footer class="footer-area">
    <div class="layer-outer" style="background-image: url({% static 'assets/images/pattern/footer-bg.png' %})"></div>
     
    <div class="footer">
        <div class="container">
            <div class="row">
                <!--Start single footer widget-->
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 wow animated fadeInUp" data-wow-delay="0.1s">
                    <div class="single-footer-widget marbtm">
                        <div class="our-company-info">
                            <div class="footer-logo">
                                <a href="index.html"><img src="{{data.white_logo.url}}" alt="Awesome Footer Logo" title="Logo"></a>    
                            </div>
                            <div class="text">
                                <p>Moonlight provides the simplest solution for processing your all types of visa. Say good bye to end less hassles and confusions. There anyone who loves or pursues not some great to have pleasure.</p>
                            </div>
                            <div class="footer-social-links">
                                <ul>
                                    <li>
                                        <a href="{{data.facebook_url}}" target = "_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a> 
                                    </li>
                                    <li>
                                        <a href="{{data.instagram_url}}" target = "_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a> 
                                    </li>
                                    <li>
                                        <a href="{{data.youtube_url}}" target = "_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="{{data.linkedin_url}}" target = "_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a> 
                                    </li>
                                </ul>
                            </div>    
                        </div>      
                    </div>
                </div>
                <!--End single footer widget-->
                <!--Start single footer widget-->
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                    <div class="single-footer-widget martop10 marleftminus40 marbtm">
                        <div class="title">
                            <h3>Quicklinks</h3>
                        </div>
                        <ul class="countries-links">
                            <li><a href="{% url 'home' %}">Home</a></li>    
                            <li><a href="{% url 'about_us' %}">About Us</a></li>    
                            <li><a href="{% url 'services' %}">Our Services</a></li>    
                            <li><a href="{% url 'demands' %}">Demands</a></li>    
                            <li><a href="{% url 'blogs' %}">Blogs</a></li>        
                            <li><a href="{% url 'contact' %}">Contact Us</a></li>        
                        </ul>                     	  
                    </div>
                </div>
                <!--End single footer widget-->
                
                <!--Start single footer widget-->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 wow animated fadeInUp" data-wow-delay="0.7s">
                    <div class="single-footer-widget pdtop martop10">
                        <div class="title">
                            <h3>Contact</h3>
                        </div>
                        <div class="footer-contact-info">
                            <ul>
                                <li>
                                    <div class="icon">
                                        <span class="flaticon-worldwide thm-clr"></span>
                                    </div>
                                    <div class="text">
                                        <h4>Address</h4>
                                        <p>{{data.location}}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="flaticon-mail-1 thm-clr"></span>
                                    </div>
                                    <div class="text">
                                        <h4>Send Your Mail At</h4>
                                        <p><a href="mailto:{{data.email}}">{{data.email}}</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="flaticon-countdown thm-clr"></span>
                                    </div>
                                    <div class="text">
                                        <h4>Working Hours</h4>
                                        <p>{{data.opening_hours}}</p>
                                    </div>
                                </li> 
                            </ul>
                        </div>                     	  
                    </div>
                </div>
                <!--End single footer widget-->
            </div>
        </div>
    </div>
    
    <div class="footer-bottom">
        <button class="scroll-top style2 scroll-to-target" data-target="html">
            <span class="fa fa-angle-up"></span>
        </button> 
        <div class="container">
            <div class="outer-box">
                <div class="copyright-text">
                    <p><a href="#">Moonlight</a> &copy; 2023 All Right Reserved</p>
                </div>
                <div class="footer-menu">
                    <ul>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Customer</a></li>
                    </ul>
                </div>
            </div>    
        </div>    
    </div>
    
</footer>   
<!--End footer area-->





</div> 






<script src="{% static 'assets/js/jquery.js' %}"></script>
<script src="{% static 'assets/js/aos.js' %}"></script>
<script src="{% static 'assets/js/appear.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'assets/js/isotope.js' %}"></script>
<script src="{% static 'assets/js/jquery.bootstrap-touchspin.js' %}"></script>
<script src="{% static 'assets/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.countTo.js' %}"></script>
<script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.enllax.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.fancybox.js' %}"></script>
<script src="{% static 'assets/js/jquery.mixitup.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.paroller.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.polyglot.language.switcher.js' %}"></script>
<script src="{% static 'assets/js/map-script.js' %}"></script>
<script src="{% static 'assets/js/nouislider.js' %}"></script>
<script src="{% static 'assets/js/owl.js' %}"></script>
<script src="{% static 'assets/js/timePicker.js' %}"></script>   
<script src="{% static 'assets/js/validation.js' %}"></script>
<script src="{% static 'assets/js/wow.js' %}"></script>
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/js/slick.js' %}"></script>
<script src="{% static 'assets/js/lazyload.js' %}"></script>
<script src="{% static 'assets/js/scrollbar.js' %}"></script>
<script src="{% static 'assets/js/tilt.jquery.js' %}"></script>
<script src="{% static 'assets/js/jquery.bxslider.min.js' %}"></script>
<script src="{% static 'assets/js/jquery-ui.js' %}"></script>
<script src="{% static 'assets/js/jQuery.style.switcher.min.js' %}"></script>
<!-- thm custom script -->
<script src="{% static 'assets/js/custom.js' %}"></script>



</body>
</html>