{% include "nav-links.html" %}{% load static %}
<body>
    <div class="boxed_wrapper">
    
    <div class="preloader"></div>
    
    <!-- Main header -->
    <header class="main-header header-style-one">
        <div class="border-top" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000" ></div>
        <!--Start header-->
        <div class="header" style="padding: 10px;">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-sm-2">
                        <a href="{% url 'home' %}"><img src="{{data.color_logo.url}}" alt="Awesome Logo" title="" style="height: 70px; width: 190px;"></a>
                    </div> 
                    <div class="col-12 col-sm-9 d-none d-sm-block">
                        <div class="row" style="padding-left: 80px;" >
                            <div class="col-4">
                                <div class="row">
                                    <div class="col">
                                        <h3> <span class="flaticon-worldwide thm-clr" style="margin-right: 5px;"></span> Location</h3>
                                        <p>{{data.location}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="row">
                                    <div class="col">
                                        <h3><span class="flaticon-countdown thm-clr"  style="margin-right: 5px;"></span> Office Timing</h3>
                                        <p>{{data.opening_hours}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="row">
                                    <div class="col">
                                        <h3><span class="flaticon-email thm-clr"  style="margin-right: 5px;"></span>Contact</h3>
                                        <p>{{data.contact}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-1">
                        <div class="d-flex justify-content-end">
                            <img src="{% static 'flag.gif' %}" alt="Awesome Logo" title="" style="height: 50px;">
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!--End header -->
        
        <!--Start Header Bottom-->
        <div class="header-bottom">
            <div class="container">
                <div class="outer-box clearfix">
                    <div class="header-bottom-left pull-left">
                        
                        <div class="nav-outer clearfix">
                            <!--Mobile Navigation Toggler-->
                            <div class="mobile-nav-toggler">
                                <div class="inner">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </div>
                            </div>
                            <!-- Main Menu -->
                            <nav class="main-menu style1 navbar-expand-md navbar-light">
                                <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                    <ul class="navigation clearfix">
                                        <li><a href="{% url 'home' %}">Home</a></li>
                                        <li><a href="{% url 'about_us' %}">About Us</a></li>
                                        <li><a href="{% url 'services' %}">Our Services</a>
                                            <!-- <ul>
                                                {% for service in services %}
                                                <li><a href="{% url 'service_details' slug=service.slug %}">{{service.service_title}}</a></li>
                                                {% endfor %}
                                            </ul> -->
                                        </li>
                                        <li><a href="{% url 'home' %}">Demands</a></li>
                                        <!-- <li><a href="{% url 'blogs' %}">Blogs</a></li> -->
                                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                    </ul>
                                </div>
                            </nav>                        
                            <!-- Main Menu End-->
                        </div> 
                    </div>
                    <div class="header-bottom-right clearfix pull-right">
                        <div class="outer-search-box-style1">
                            <div class="seach-toggle">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                            <ul class="search-box">
                                <li>
                                    <h5 style="color:white;">{{data.email}}</h5>
                                </li>
                            </ul>
                        </div> 
                    </div>
                </div>  
            </div>    
        </div>
        <!--End Header Bottom-->
        
        <!--Sticky Header-->
        <div class="sticky-header">
            <div class="container">
                <div class="clearfix">
                    <!--Logo-->
                    <div class="logo float-left">
                        <a href="{% url 'home' %}" class="img-responsive"><img src="{{data.white_logo.url}}" alt="" title="" ></a>
                    </div>
                    <!--Right Col-->
                    <div class="right-col float-right">
                        <!-- Main Menu -->
                        <nav class="main-menu clearfix">
                        <!--Keep This Empty / Menu will come through Javascript-->
                        </nav>   
                    </div>
                </div>
            </div>
        </div>
        <!--End Sticky Header-->
        
        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon flaticon-multiply"></span></div>
    
            <nav class="menu-box">
                <div class="nav-logo"><a href="{% url 'home' %}"><img src="assets/images/resources/logo.png" alt="" title=""></a></div>
                <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
                <!--Social Links-->
                <div class="social-links">
                    <ul class="clearfix">
                        <li>
                            <a href="{{data.facebook_url}}" target = "_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a> 
                        </li>
                        <li>
                            <a href="{{data.instagram_url}}" target = "_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a> 
                        </li>
                        <li>
                            <a href="{{data.youtube_url}}" target = "_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="{{data.linkedin_url}}" target = "_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a> 
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- End Mobile Menu --> 
    </header>
    
    