{% include "header.html" %}
<section class="visa-area visa-page">
    <div class="container">
        <div class="row">
            <!--Start Single Visa Box-->
            {% for service in services %}
              
            <div class="col-xl-4 col-lg-4 col-md-12">
                <div class="single-visa-box marbtm60">
                    <div class="img-holder">
                        <div class="inner">
                            <img src="{{service.service_image.url}}" alt="Awesome Image">
                            <div class="overlay-style-one bg1"></div>
                        </div>
                        <a href="{% url 'service_details' slug=service.slug %}"><div class="icon"><span class="flaticon-plus"></span></div></a>
                    </div>
                    <div class="text-holder">
                        <h3><a href="visa-student.html">{{service.service_title}}</a></h3>
                        <p>{{service.service_description|safe|truncatechars:100}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}

            <!--End Single Visa Box-->
        </div>
    </div>
</section>

{% include "footer.html" %}